{% extends 'stock/base.html' %}

{% block title %}Agregar medicamentos{% endblock %}
{% block content %}
<h1>Agregar medicamento</h1>
<form>
  <div class="mb-3">
    <label for="txtDescripcion" class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="txtDescripcion" />
  </div>
  <div class="mb-3">
    <label for="txtFabricante" class="form-label">Fabricante</label>
    <input type="text" class="form-control" id="txtFabricante" />
  </div>
  <div class="mb-3">
    <label for="txtContenido" class="form-label">Contenido</label>
    <input type="text" class="form-control" id="txtContenido" />
  </div>
  <div class="mb-3">
    <label for="txtGramaje" class="form-label">Gramaje</label>
    <input type="text" class="form-control" id="txtGramaje" />
  </div>
  <div class="mb-3">
    <label for="txtPrecio" class="form-label">Precio</label>
    <input type="text" class="form-control" id="txtPrecio" />
  </div>
  <div class="mb-3">
    <label for="txtCantidad" class="form-label">Cantidad</label>
    <input type="text" class="form-control" id="txtCantidad" />
  </div>
  <button type="submit" class="btn btn-success">Ingresar medicamento</button>
  <a href="{% url 'inventario' %}" class="btn btn-outline-danger">Cancelar</a>
</form>
{% endblock %}