{% extends 'farmacia/base.html' %}

{% block title %}Recepción{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <h1>Prescripciones Medicas</h1>
  </div>
</div>
<div class="contenedor-prescripciones">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Medico: Gominez Fernander Zoto Lorempal</h1>
      <h1 class="card-title">Paciente: Gorzalian Formol Picalml</h1>
      <h4 class="card-subtitle text-center p-2">Receta</h4>
      <div class="card-header mt-4">Disponibles</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Clorafalamina 100 mg: 1 comprimido cada 24 hrs x 30 dias</li>
        <li class="list-group-item">Prolomax 200 mg: 2 comprimido cada 8 hrs x 10 dias</li>
      </ul>
      <div class="card-header mt-4">No Disponibles</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Buforgot 150 mg: 1 comprimido cada 5 hrs x 3 dias</li>
      </ul>
      <div class="row m-3">
        <div class="col">
          <p class="card-text text-start">Fecha: 20/04/2022</p>
        </div>
        <div class="col">
          <p class="card-text text-end">Ex: 10/05/2022</p>
        </div>
      </div>
      <div class="row m-2">
        <div class="col">
          <a href="{% url 'recepcion-entrega' %}" class="btn btn-success">Registrar Entrega</a>
          <button type="button" class="btn btn-outline-danger">Descartar</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}